@font-face {
  font-family: "Montserrat Black";
  src: url(../../assets/fonts/montserrat/Montserrat-Black.otf)
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Black It";
  src: url(../../assets/fonts/montserrat/Montserrat-BlackItalic.otf)
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../../assets/fonts/montserrat/Montserrat-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold It";
  src: url(../../assets/fonts/montserrat/Montserrat-BoldItalic.otf)
    format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Extra Bold";
  src: url(../../assets/fonts/montserrat/Montserrat-ExtraBold.otf)
    format("opentype");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Extra Bold It";
  src: url(../../assets/fonts/montserrat/Montserrat-ExtraBoldItalic.otf)
    format("opentype");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Extra Light";
  src: url(../../assets/fonts/montserrat/Montserrat-ExtraLight.otf)
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Extra Light It";
  src: url(../../assets/fonts/montserrat/Montserrat-ExtraLightItalic.otf)
    format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat It";
  src: url(../../assets/fonts/montserrat/Montserrat-Italic.otf)
    format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Light";
  src: url(../../assets/fonts/montserrat/Montserrat-Light.otf)
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Light It";
  src: url(../../assets/fonts/montserrat/Montserrat-LightItalic.otf)
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url(../../assets/fonts/montserrat/Montserrat-Medium.otf)
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Medium It";
  src: url(../../assets/fonts/montserrat/Montserrat-MediumItalic.otf)
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/montserrat/Montserrat-Regular.otf)
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url(../../assets/fonts/montserrat/Montserrat-SemiBold.otf)
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat SemiBold It";
  src: url(../../assets/fonts/montserrat/Montserrat-SemiBoldItalic.otf)
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Thin";
  src: url(../../assets/fonts/montserrat/Montserrat-Thin.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Thin It";
  src: url(../../assets/fonts/montserrat/Montserrat-ThinItalic.otf)
    format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
